target/
!**/src/main/**/target/
!**/src/test/**/target/

.kotlin

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Build ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Reports ###
allure-results/
allure-report/
test-output/

### Logs ###
logs/
*.log

### Screenshots ###
screenshots/

### Drivers ###
drivers/

### OS ###
.DS_Store
Thumbs.db